{% extends 'dashboard.html' %}

{% block content %}
<h3>Endre passordet ditt:</h3>
<form method="post">
    <label for="old_password">Gammelt passord</label>
    <br>
    <input type="text" name="old_password" id="old_password"
           placeholder="Gammelt passord"
           value="{{ request.form['old_password'] }}"></input>
    <br>
    <label for="new_password2">Nytt passord</label>
    <br>
    <input type="text" name="new_password1" id="new_password1"
           placeholder="Nytt passord"
           value="{{ request.form['new_password1'] }}"></input>
    <br>
    <label for="new_password2">Gjenta nytt passord</label>
    <br>
    <input type="text" name="new_password2" id="new_password2"
           placeholder="Gjenta nytt passord"
           value="{{ request.form['new_password2'] }}"></input>
    <br>

    <button type="submit">Endre passord</button>
</form>
{% for mesg in get_flashed_messages() %}
<h1>{{ mesg }}</h1>
{% endfor %}

{% endblock %}