<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}Hjemmeside</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--https://stackoverflow.com/questions/51045291/how-to-use-flask-url-for-in-a-css-file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!--iconer-->
    <!--Kilde for basic oppsett og styling:
    https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH -->
</head>
<body>
<div id="gridContainer">
    <header>
        <nav id="top-meny">
            <a href="/">Hjem</a>
            <a href="/registrer">Registrer</a>
            <a href="/login">Logg in</a>
            {% block nav %} {% endblock %}
        </nav>
    </header>
    <main>
        <div class="content-index">
            {% block content %}
            <h2>Guidede turer</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Tittel</th>
                        <th class="table-description">Beskrivelse</th>
                        <th>Lokasjon</th>
                        <th>Dato</th>
                        <th>Pris per. pers</th>
                        <th>Ledige plasser</th>
                        <th>Guide</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tour in list_of_tours %}
                    {% if not tour.is_active == 0 %}
                    <!-- Har ikke tilbakevirkende kraft, dvs. dersom det allerede eksisterer oppretted annonser, vil ikke pris og lokasjon vises for de-->
                    <tr>
                        <!-- https://www.geeksforgeeks.org/flask-url-helper-function-flask-url_for/ -->
                        <!-- Fikk hjelp til akkurat " url_for('tour', tour_id=tour.id " fra chatGPT -->
                        <!-- spurte "er det en metode man kan bruke for å dynamisk endre lenker med flask -->
                        <td><a href="{{ url_for('tour.outtour', tour_id=tour.id) }}">{{ tour.title }}</a></td>
                        <td class="table-description">{{ tour.description }}</td>
                        <td>{{ tour.location }}</td>
                        <td>{{ tour.date }}</td>
                        <td>{{ tour.price }}</td>
                        <td>{{ tour.spots_available }}</td>
                        <td>{{ tour.created_by }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
    </main>
    {% block footer %}
    <footer>
        <nav id="footer">
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
            <a href="#">Twitter/X</a>
        </nav>
    </footer>
    {% endblock %}
</div>
</body>

</html>
