{% extends 'index.html' %}
{% block nav %}

{% endblock %}

{% block content %}
<form action="/registrer" method="post">
    <h1>{% block title %} Registrer ny bruker {% endblock %}</h1>
    <label for="username">Brukernavn</label>
    <input type="text" name="username" id="username"
           placeholder="Brukernavn"
           value="{{ request.form['username'] }}">
    <label for="password">Passord</label>
    <input type="password" name="password" id="password"
           placeholder="Passord"
           value="{{ request.form['password'] }}">

    <label for="password2">Gjenta Passord</label>
    <input type="password" name="password2" id="password2"
           placeholder="Gjenta passord"
           value="{{ request.form['password2'] }}">

    <label for="email">Email</label>
    <input type="text" name="email" id="email"
           placeholder="Email"
           value="{{ request.form['email'] }}">
    <button type="submit">Registrer</button>
    <a href="{{url_for('user.login')}}">Har du allerede en bruker? Logg inn</a>
    {% for mesg in get_flashed_messages() %}
    <h4>{{ mesg }}</h4>
    {% endfor %}
</form>

{% endblock %}